<h2>Editar Paciente</h2>
<form (ngSubmit)="updatePaciente()">
  <label>
    Rol:
    <input [(ngModel)]="paciente.rol" name="rol" required>
  </label>
  <label>
    Nombre:
    <input [(ngModel)]="paciente.nombre" name="nombre" required>
  </label>
  <label>
    Edad:
    <input [(ngModel)]="paciente.edad" name="edad" type="number" required>
  </label>
  <label>
    RUT:
    <input [(ngModel)]="paciente.rut" name="rut" required>
  </label>
  <label>
    Previsión:
    <input [(ngModel)]="paciente.prevision" name="prevision" required>
  </label>
  <label>
    Cama Hospitalización:
    <input [(ngModel)]="paciente.cama_hospitalizacion" name="cama_hospitalizacion" required>
  </label>
  <label>
    Diagnóstico:
    <input [(ngModel)]="paciente.diagnostico" name="diagnostico" required>
  </label>
  <label>
    Cirujano:
    <input [(ngModel)]="paciente.cirujano" name="cirujano" required>
  </label>
  <label>
    Cirugía:
    <input [(ngModel)]="paciente.cirugia" name="cirugia" required>
  </label>
  <button type="submit">Guardar Cambios</button>
  <div *ngIf="error" class="error">
    {{ error }}
  </div>
</form>